.badges
  display: flex;
  flex-wrap: wrap;

.badge
  height: 24px;
  display: inline-flex;
  align-items: center;
  border-radius: 24px;
  background-color: #ededed;

.badgeImg
  object-fit: cover;
  width: 24px;
  height: 24px;
  border-radius: 50%;

.badgeName
  white-space: nowrap;
  font-size: 13px;
  padding: 0 11px;

.fieldWrap
  font-size: 13px;
  margin-top: 12px;
  display: flex;
  align-items: flex-start;

  .badge
    margin-right: 5px;
    margin-bottom: 5px;

.fieldLabel
  line-height: 22px;
  box-sizing: border-box;
  width: 100px;
  min-width: 100px;
  padding-right: 10px;
  color: #999;

.fieldValue
  line-height: 22px;

.title
  font-size: 18px;
  line-height: 22px;

.place
  margin-bottom: 4px;

.eventsSettings
  display: flex;
  align-items: center;
  height: 22px;

.eventsLabel
  padding-left: 7px;