.radioBox
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .08);
  padding: 3px;

.radioWrapper
  display: flex;

.radioElement
  cursor: pointer;
  font-size: 13px;
  padding: 5px 15px;
  border-radius: 3px;

  &.active
    background-color: #ffffff;