@import '~@/style/defaultTheme';

.currentTime
  height: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &::after
    content: '';
    height: 1px;
    background-color: $lineColors[secondaryCurrent];
    flex-grow: 1;
    margin-left: 13px;
