@import '~@/style/defaultTheme';

.timeMark
  font-family: $fontFamilies[primary];
  color: $lineColors[secondary];

.inactive
  color: $lineColors[secondaryFaded];

.current
  color: $lineColors[secondaryCurrent];
