.wrapper
  padding-bottom: 12px;

.blockTitle
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 12px;

.title
  padding-right: .5em;

.arrow
  transition: all .3s;

.arrowReverse
  transform: rotate(180deg);