// color palette
$brandColor = #FFCC00;
$colorGray = #9B9B9B;
$lineColors = {
  primary: #000,
  secondary: #666,
  secondaryCurrent: #FC4E51,
  secondaryFaded: #999,
  secondaryPale: #D8D8D8,
  link: #0065DC
};
$bgColors = {
  primary: #FFF,
  primaryDarken: #F5F5F5,
  secondary: #F5F5F5
};
// font palette
$primaryFont = 'Yandex Sans Text', Arial, Helvetica, sans-serif;
$fontFamilies = {
  primary: $primaryFont
};
