@import '~@/style/defaultTheme';

.eventName
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $lineColors[primary];

.checked
  color: $lineColors[secondaryFaded];
  text-decoration: line-through;
